.main {
  margin-top: 2rem;
  display: flex;
}

.catagory {
  width: 7rem;
  height: 7rem;
  padding: 2rem;
  box-shadow: 0 0 20px 2px #ddd;
  border-radius: 1rem;
  transition: all 0.3s;
  cursor: pointer;
  margin-right: 1rem;
}

.catagory:hover {
  box-shadow: 0 0 30px 5px #ccc;
}

@media screen and (max-width: 900px) {
  .main {
    flex-wrap: wrap;
    justify-content: center;
  }
  .catagory {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
}
