.content {
  width: 100%;
  height: 70vh;
  display: flex;
}

.content_sect {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.content_sect:nth-child(1) {
  padding-right: 6rem;
}

.content_sect h3 {
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}

.content_sect h2 {
  font-size: 2rem;
  color: #222;
}

.content_sect button {
  margin-top: 10px;
  width: 10rem;
}

.content_sect p {
  font-size: 0.8rem;
  color: #555;
}

.content_sect:nth-child(2) > img {
  animation: img_anim 1s ease-out;
}

.content_sect:nth-child(1) > * {
  animation: call_anim 1s ease-out;
}

@keyframes call_anim {
  0% {
    transform: translate(-100px, -100px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes img_anim {
  0% {
    transform: translate(100px, -100px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  .content {
    flex-direction: column-reverse;
  }
  .content_sect {
    width: 100%;
  }
  .content_sect:nth-child(2) > img {
    max-width: 60%;
    margin: 0 auto;
  }
  .content_sect:nth-child(1) {
    padding-right: 2rem;
  }
}
