.main {
  width: 100%;
  display: flex;
  align-items: center;
}

.postani_btn {
  font-weight: 500;
}

.postani_btn:hover {
  background-color: var(--darkred);
}

.nav {
  margin-left: auto;
  margin-right: 2rem;
}

@media screen and (max-width: 999px) {
  .nav {
    display: none;
  }
  .menu {
    margin-left: auto;
  }
}

@media screen and (max-width: 420px) {
  .menu {
    display: none;
  }
  .search {
    margin-left: auto;
  }
}

.nav a {
  font-weight: 500;
  font-size: 0.8rem;
  margin-right: 1rem;
  color: #444;
}

.nav a:hover {
  color: black;
}

.menu {
  margin-right: 1rem;
}

.search {
  margin-right: 1rem;
}
