.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.back_svg {
  position: absolute;
  right: 0;
  top: 0;
  height: 30rem;
  z-index: -999;
}

@media screen and (max-width: 624px) {
  .back_svg {
    display: none;
  }
}
.downdown {
  margin-top: 2rem;
  margin-bottom: 2rem;
  height: 3rem;
  text-align: center;
  animation: downup 1s linear;
  animation-iteration-count: infinite;
}

@keyframes downup {
  100% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  0% {
    transform: translateY(-20px);
  }
}

@media screen and (max-width: 624px) {
  .downdown {
    margin-top: 5rem;
    margin-bottom: 0;
  }
}
