.main {
  width: 100%;
}

.main > h1 {
  margin-top: 5rem;
  color: var(--red);
}

.main p {
  font-size: 0.8rem;
  max-width: 30rem;
  margin-top: 1rem;
  color: #333;
}

.perf_tun {
  text-align: center;
  margin-top: 3rem;
}

.perf_tun > h1 {
  color: var(--red);
}
